.App {
  text-align: center;
}

.Wrapper {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.Wrapper a {
  text-decoration: none;
  color: #333;
}

.Wrapper h2 {
  display: block;
  margin-bottom: 30px;
}

.link {
  display: block;
  width: 150px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
}
/* .link:hover {
  background-color: ;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
